<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Khaatabook</title>
  <script src="https://cdn.tailwindcss.com"></script>
<style>
  .shadowss {
  box-shadow: 0 1px 3px 0 rgb(87 85 85 / 71%), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
</style>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">

  <!-- Navbar -->
  <header class="p-4 flex bg-gray-300 justify-between items-center shadowss">
    <h1 class="text-gray-800 text-xl font-bold">Khaatabook</h1>
    <nav>
      <a href="/" class="text-gray-800 px-4">Home</a>
      <a href="/create" class="text-gray-600 hover:text-gray-800">Create New Hisaab</a>
    </nav>
  </header>
  
  <!-- Main Content -->
  <main class="flex-grow flex justify-center items-center p-4">
    <div class="w-full max-w-2xl bg-white p-6 rounded shadow-md">
      <h2 class="text-2xl font-semibold mb-6 text-center">
        You're editing hisaab of <a href="#" class="text-blue-500 hover:underline"><%= filename.replace('.txt', '') %></a>
      </h2>
      <form action="/update/<%= filename %>" method="post">
        <div class="mb-6">
          <textarea 
            name="content" 
            rows="8" 
            class="w-full p-4 text-gray-800 bg-gray-50 border border-gray-300 rounded resize-none focus:outline-none focus:ring-2 focus:ring-blue-500"
          ><%= filedata %></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="px-6 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
            Update Hisaab
          </button>
        </div>
      </form>
    </div>
  </main>

</body>
</html>
